<!DOCTYPE html>
<html lang="en">
<head>
	<title>Ayat آیت</title>
	<meta charset="utf-8" />
	<meta name="description" content="Ayat is Afghanistan’s first modest clothing brand providing empowering clothing for work and social. Ayat combines modesty with comfort and style." />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="AYAT - Modest Clothing" />
	<meta property="og:description" content="Ayat combines modesty with comfort and style" />
	<meta property="og:image" content="http://www.ayatclothing.com/img/Logo2.png" />
	<meta property="og:url" content="http://www.ayatclothing.com" />
	<meta property="og:site_name" content="AYAT" />
	<meta name="twitter:card" content="summary_small_image" />

	<link rel="canonical" href="http://www.ayatclothing.com/index.html" />
	<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="stylesheet" href="css/fixed.css" />
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
	<link rel="icon" href="img/ll.png" />
</head>

<body>
<!--startnavigationbar-->
<nav>
	<div class="sub-header">
		<div class="logo">
			<a href="/"><img src="img/Logo1.png"></a>
		</div>
		<div class="menu">
			<ul class="left-menu">
				<li><a href="/about">about</a></li>
				<li><a href="/design">designs</a></li>
			</ul> 
			<ul class="right-menu">
				<li><a href="/journal">journal</a></li>
				<li><a href="/team">team</a></li>
				<li><a href="/contact">contact</a></li>
			</ul>
		</div>
	</div>
	<div class="burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
<!--endnavigationbar-->

<!--pagestarter-->
<div class="grid1">
	<img id="i1" src="img/bg (1).jpg">
	<img id="i2" src="img/bg (2).jpg">
	<img id="i3" src="img/bg (3).jpg">
	<img id="i4" src="img/bg (4).jpg">
</div>
<!--pagestarterend-->

<!--startproductline-->
<div class="pheader">
	<img id="s2" src="img/sw1.png">
	<h3 id="t1">the designs</h3>
	<img id="s1" src="img/sw.png">
</div>
<div class="grid3">
	<div class="p1" onclick="location.href='/design';" style="cursor: pointer;">
		<div class="single-model-item">
			<div class="model-thumbnail">
				<img class="first-thumbnail" src="img/de (1).jpg">
				<img class="second-thumbnail" src="img/de (2).jpg">
			</div>
		</div>	
	</div>
	<div class="p2" onclick="location.href='/design';" style="cursor: pointer;">
		<div class="single-model-item">
			<div class="model-thumbnail">
				<img class="first-thumbnail" src="img/de (3).jpg">
				<img class="second-thumbnail" src="img/de (4).jpg">
			</div>
		</div>	
	</div>	
	<div class="p3" onclick="location.href='/design';" style="cursor: pointer;">
		<div class="single-model-item">
			<div class="model-thumbnail">
				<img class="first-thumbnail" src="img/de (5).jpg">
				<img class="second-thumbnail" src="img/de (6).jpg">
			</div>
		</div>
	</div>
	<div class="p4" onclick="location.href='/design';" style="cursor: pointer;">
		<div class="single-model-item">
			<div class="model-thumbnail">
				<img class="first-thumbnail" src="img/de (7).jpg">
				<img class="second-thumbnail" src="img/de (8).jpg">
			</div>
		</div>	
	</div>
	<div class="p5" onclick="location.href='/design';" style="cursor: pointer;">
		<div class="single-model-item">
			<div class="model-thumbnail">
				<img class="first-thumbnail" src="img/de (9).jpg">
				<img class="second-thumbnail" src="img/de (10).jpg">
			</div>
		</div>	
	</div>
</div>
<!--endproductline-->

<!--startfiller1-->
<div class="header2">
	<img id="s3" src="img/sw3.png">
	<h3 id="hh">Explore the diversity of modest clothing with us</h3>
	<img id="s4" src="img/sw4.png">
</div>
<div class="grid4">
	<img id="hi1" src="img/bg (5).jpg">
	<img id="hi2" src="img/bg (6).jpg">
</div>
<!--endfiller1-->

<!--startfeed-->
<div class="grid2">
	<div class="text1">
		<div class="nestg1">
			<h3 id="th">Follow ayat on social media</h3>
			<img id="s5" src="img/sw01.png">
		</div>
		<p>Check out our new designs and products on social media</p>
	</div>
	<div class="feed1">
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fayatclothingbrand%2F&tabs=timeline&width=305&height=500&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="305" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
	</div>
</div>
<!--endfeed-->

<!--startfiller2-->
<div class="filler">
	<img id="f1" src="img/bg (7).jpg">
	<img id="f2" src="img/bg (8).jpg">
	<img id="f3" src="img/bg (9).jpg">
</div>
<!--endfiller2-->

<!--startabout-->
<div class="about">
	<img id="aimg" src="img/ab.jpg">
	<div class="abt">
		<div class="nestg2">
			<h3 id="th1">about our business</h3>
			<img id="s6" src="img/sw00.png">
		</div>
		<p>Ayat is Afghanistan’s first modest clothing brand providing empowering clothing for work and social. Ayat combines modesty with comfort and style</p><p><a class="aa" href="/about"> Read More</a></p>
	</div>
</div>
<!--endabout-->


<!--startcontacts-->
<section class="bbody">
	<div class="container"></div>
	<footer>
		<!-- Footer main -->
		<section class="ft-main">
		<div class="ft-main-item">
			<h2 class="ft-title">products</h2>
			<ul>
			<li><a href="/design">Designs</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">info</h2>
			<ul>
			<li><a href="/journal">Journal</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/team">Team</a></li>
			<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">socials</h2>
			<ul>
			<li><a href="https://www.facebook.com/ayatclothingbrand">Facebook</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/">Instagram</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing_kg/">Instagram (Russian)</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<a href="/"><img id="ft-logo" src="img/Logo1.png"></a>
		</div>
		</section>
		<section class="ft-social">
		<ul class="ft-social-list">
			<li><p>Follow Ayat</p></li>
			<li><a href="https://www.facebook.com/ayatclothingbrand"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/"><i class="fab fa-instagram"></i></a></li>
		</ul>
		<ul class="ft-social-list1">
			<li>Copyright &copy; 2020 Ayat آیت - Modest Clothes</li>
		</ul>
		</section>
	</footer>
</section>
<!--endcontacts-->

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/navbar-burger.js"></script>
<script>
  AOS.init();
</script>
<!--EndScripts-->
</body>
</html>