<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ayat آیت - Journal</title>
	<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/journal.css">
	<link rel="stylesheet" href="css/fixed.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
	<link rel="icon" href="img/ll.png">
</head>

<body>
<!--startnavigationbar-->
<nav class="offset">
	<div class="sub-header">
		<div class="logo">
			<a href="/"><img src="img/Logo1.png"></a>
		</div>
		<div class="menu">
			<ul class="left-menu">
				<li><a href="/">home</a></li>
				<li><a href="/design">designs</a></li>
				<li><a href="/about">about</a></li>
			</ul> 
			<ul class="right-menu">
				<li><a href="/team">team</a></li>
				<li><a href="/contact">contact</a></li>
			</ul>
		</div>
	</div>
	<div class="burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
<!--endnavigationbar-->

<!--startslider-->
<div class="section">
	<div class="slider">
		<div class="slide current">
			<div class="content">
				<h3>Pitching AYAT to Ernst & Young's Global Chief Innovation Officer JEFF WONG in China</h3>
			</div>
		</div>
		<div class="slide">
			<div class="content">
				<h3>EY is helping companies from start-ups to Fortune 500 succeed</h3>
			</div>
		</div>
		<div class="slide">
			<div class="content">
				<h3>AYAT's Startup Weekend Pitch & Exhibition</h3>
				<p>The largest entrepreneurial event in the world from September 19-21, 2019 in Kabul.</p>
			</div>
		</div>
		<div class="slide">
			<div class="content">
				<h3>Expo Participation in the Startup Weekend business program</h3>
			</div>
		</div>
		<div class="slide">
			<div class="content">
				<h3>Founders of AYAT, Halima Qaderi and co-founder, Sveto Muhammad Ishoq, participated in Startup Weekend</h3>
				<p>Halima Qaderi and co-founder, Sveto Muhammad Ishoq, participated in Startup Weekend.</p>
			</div>
		</div>
		<div class="slide">
			<div class="content">
				<h3>AYAT got the second position at Startup Weekend</h3>
				<p>AYAT, being a women-led and women-owned business, was encouraged to participate and let the world know about its demanded idea and potential for growth.</p>
			</div>
		</div>
	</div>
	<div class="buttons">
		<button id="prev"><i class="fas fa-arrow-left"></i></button>
		<button id="next"><i class="fas fa-arrow-right"></i></button>
	</div>
</div>
<!--endslider-->

<!--starthed-->
<div class="hgrid">
	<img id="s2" src="img/sw1.png">
	<h3 id="t1">blog</h3>
	<img id="s1" src="img/sw.png">
</div>
<!--endhed-->

<!--startblog-->
<div class="grid1">
	<div class="cont1">
		<img src="img/bl (1).jpg" class="i1">
		<h4>AYAT Pitch in China</h4>
		<p>Sveto Muhammad Ishoq, the co-founder of Ayat, had an opportunity to pitch Ayat to Jeff Wong, the Chief Innovation Officer (CIO) of Ernst & Young (EY).</p>
	</div>
	<div class="cont2">
		<img src="img/Ayat (3).jpg" class="i2">
		<h4>Founders participated in the largest entrepreneurial event in the world</h4>
		<p>Halima and Sveto competed with 15 teams of innovative business ideas. After impressing the judges with the Ayat idea and the amazing pitch by the co-founder, Sveto, Ayat got the second position at this event. This event was held in more than 150 countries in the world. So far, more than 23,000 teams are formed with more than 193,000 alumni community members.</p>
	</div>
	<div class="cont3">
		<img src="img/bl (3).jpg" class="i3">
		<h4>Jeff Wong was impressed with AYAT pitch and gave positive comments regarding this business</h4>
		<p>In 2019, Jeff visited Schwarzman College of Tsinghua University as a guest speaker and Sveto, as Afghanistan's first Schwarzman Scholar, was pursuing her master's degree. This encouraged Sveto to pitch AYAT as a part of the Entrepreneurial Event taking place in the college to hear the feedback from EY CIO.</p>
	</div>
	<div class="cont4">
		<img src="img/bl (4).jpg" class="i4">
		<h4>This time the Startup Weekend was specifically dedicated to women-owned startups</h4>
		<p>Ayat had a booth at the Startup Weekend Global Women Kabul, showcasing its beautiful and unique abaya designs to the visitors from all over Afghanistan. This event had visitor from all the provinces of Afghanistan and the unique Ayat designs captured the visitor's attention as Afghanistan's first modest clothing brand.  </p>
	</div>
</div>
<!--endblog-->

<!--startcontacts-->
<section class="bbody">
	<div class="container"></div>
	<footer>
		<!-- Footer main -->
		<section class="ft-main">
		<div class="ft-main-item">
			<h2 class="ft-title">products</h2>
			<ul>
			<li><a href="/design">Designs</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">info</h2>
			<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/team">Team</a></li>
			<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">socials</h2>
			<ul>
			<li><a href="https://www.facebook.com/ayatclothingbrand">Facebook</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/">Instagram</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing_kg/">Instagram (Russian)</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<a href="/"><img id="ft-logo" src="img/Logo1.png"></a>
		</div>
		</section>
		<section class="ft-social">
		<ul class="ft-social-list">
			<li><p>Follow Ayat</p></li>
			<li><a href="https://www.facebook.com/ayatclothingbrand"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/"><i class="fab fa-instagram"></i></a></li>
		</ul>
		<ul class="ft-social-list1">
			<li>Copyright &copy; 2020 Ayat آیت - Modest Clothes</li>
		</ul>
		</section>
	</footer>
</section>
<!--endcontacts-->


<!--startScripts-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/navbar-burger.js"></script>
<script>
  AOS.init();
</script>
<script src="js/main.js"></script>
<!--EndScripts-->
</body>
</html>
