<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ayat آیت - Team</title>
	<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/team.css">
	<link rel="stylesheet" href="css/fixed.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
	<link rel="icon" href="img/ll.png">
</head>

<body>
<!--startnavigationbar-->
<nav class="offset">
	<div class="sub-header">
		<div class="logo">
			<a href="/"><img src="img/Logo1.png"></a>
		</div>
		<div class="menu">
			<ul class="left-menu">
				<li><a href="/">home</a></li>
				<li><a href="/design">designs</a></li>
			</ul> 
			<ul class="right-menu">
				<li><a href="/journal">journal</a></li>
				<li><a href="/about">about</a></li>
				<li><a href="/contact">contact</a></li>
			</ul>
		</div>
	</div>
	<div class="burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>
<!--endnavigationbar-->

<!--startteam-->
<div class="hgrid">
	<img id="s2" src="img/sw3.png">
	<h3 id="t1">our team</h3>
	<img id="s1" src="img/sw4.png">
</div>

<div class="grid1">
	<img id="gi1" src="img/team.jpg">
	<div class="gc1">
		<h3 class="">HALIMA QADERI</h3>
		<h4>FOUNDER & CEO</h4>
		<hr><p>
			Halima Qaderi has earned her BA in Islamic studies whereby she did courses on Business Management and Economics from the Islamic perspective. Her expertise in Islamic fashion is based on her own interest and experience of style in modest clothes. But what inspired her to make a modest clothing brand?
			"Seeing my country in a state where the majority of people lack their basic needs, caused by war and devastation, makes me resolute in doing something for them. I want to help them both educationally and financially by increasing their knowledge and skills as that is the first step towards endowing a society with financial security.
			The spirit of taking responsibility in working for my country was high in me from a very young age. I always wondered about how much could be done and how much work was neglected by those who had the opportunity in their hands. Also, as a believer, I have been gifted with values and principles that oblige me to work in a direction that not only benefits me, but also others.</p><button type="button" class="collapsible">Continue Reading</button><div class="content"><p>
			My responsibility towards my Lord, my family, and the society require me to always work to the best of my ability for achieving the best results in any aspects of life. Therefore, my goal for AYAT is to work in a way that leads to employment by making modest clothes that are of high quality and style. Furthermore, to make modest clothes, which is an important part of our religion, a comfortable, stylish, and affordable option for everyone. Beside creating work opportunities, I am aiming to create a professional training program to make sure our employees become professionally skilled in their areas of work as this will enable them to work independently and sustain themselves even if not employed."							
		</p></div>
	</div>

	<img id="gi2" src="img/team (1).jpg">
	<div class="gc2">
		<h3>SVETO MUHAMMAD ISHOQ</h3>
		<h4>CO-FOUNDER & COO</h4>
		<hr>
		<p>
			As Afghanistan’s first Schwarzman Scholar, Sveto earned a master’s degree in Global Affairs at Tsinghua University in Beijing. Prior to that, she completed her Business Administration degree at American University of Afghanistan. Sveto writes on the promotion of women’s rights in outlets such as the Afghan Women’s Writing Project, the Anna May Project, and Star Educational Society’s Interstellar Bulletin Newspaper and blogs for UN Women and Kayhan Life. She also volunteers widely with organizations like Everywoman Everywhere, where she worked on the first-ever International Treaty on Violence against Women. She is passionate about women's economic empowerment and eliminating the 'single story' about her home country, Afghanistan, by representing Afghanistan on national and international platforms and promoting the unheard experiences of Afghan people. Having lived in China for a year and absorbed negative perspectives that others have about life in Afghanistan inspired Sveto to combine her passion for fashion with national pride and create the first modest clothing brand in Afghanistan- showing the world that Afghanistan is much more than what people see on the media. As a women’s rights activist,she is committed to making Ayat a women-owned and women-led Afghan brand.
		</p>
	</div>
</div>
<!--endteam-->


<!--startcontacts-->
<section class="bbody">
	<div class="container"></div>
	<footer>
		<!-- Footer main -->
		<section class="ft-main">
		<div class="ft-main-item">
			<h2 class="ft-title">products</h2>
			<ul>
			<li><a href="/design">Designs</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">info</h2>
			<ul>
			<li><a href="/journal">Journal</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<h2 class="ft-title">socials</h2>
			<ul>
			<li><a href="https://www.facebook.com/ayatclothingbrand">Facebook</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/">Instagram</a></li>
			<li><a href="https://www.instagram.com/ayat_clothing_kg/">Instagram (Russian)</a></li>
			</ul>
		</div>
		<div class="ft-main-item">
			<a href="/"><img id="ft-logo" src="img/Logo1.png"></a>
		</div>
		</section>
		<section class="ft-social">
		<ul class="ft-social-list">
			<li><p>Follow Ayat</p></li>
			<li><a href="https://www.facebook.com/ayatclothingbrand"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://www.instagram.com/ayat_clothing/"><i class="fab fa-instagram"></i></a></li>
		</ul>
		<ul class="ft-social-list1">
			<li>Copyright &copy; 2020 Ayat آیت - Modest Clothes</li>
		</ul>
		</section>
	</footer>
</section>
<!--endcontacts-->


<!--startScripts-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/navbar-burger.js"></script>
<script>
  AOS.init();
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
<!--EndScripts-->
</body>
</html>